<h1>Welcome Admin!</h1>

<form action="/admin/create-user" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Create User</button>
</form>

<form action="/admin/edit-user" method="POST">
  <input type="text" name="username" placeholder="Username to edit">
  <input type="password" name="password" placeholder="New Password">
  <button type="submit">Edit User</button>
</form>

<form action="/admin/delete-user" method="POST">
  <input type="text" name="username" placeholder="Username to delete">
  <button type="submit">Delete User</button>
</form>
