<!-- weather.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astro Traveler</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    form {
      max-width: 600px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }

    input {
      width: calc(100% - 16px);
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #a54caf;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #58205e;
    }
    #weather-info, #map {
      margin: 20px auto;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    #map {
      height: 500px;
    }
    #nasa-info {
      margin: 20px auto;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    footer {
      text-align: center;
      padding: 10px;
      background-color: #333;
      color: #fff;
      clear: both;
      margin-top: auto;
    
    }
    @media (min-width: 768px) {
      #weather-info, #map {
        max-width: 600px;
      }
    }

    @media (max-width: 767px) {
      #coordinates-form {
        max-width: 80%;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center">Info provider about your destination place</h1>
    <form id="coordinates-form" class="mx-auto">
      <h1 class="text-center">Enter coordinates</h1>
    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="latitude" placeholder="Enter latitude" required>

    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="longitude" placeholder="Enter longitude" required>

    <button type="submit">Get Info</button>
  </form>
  <div id="weather-info"></div>
  <div id="nasa-info"></div>
  <div id="map"></div>
</div>

  <footer>
    <p>&copy; Bayazitova Kamila | SE-2206</p>
  </footer>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="weather.js"></script>
</body>
</html>
